<div style="padding-left: 200Px">
    <br>
    <span style="font-size: 25Px">Signup for Hangover Cafe</span>
    <br>
    <span style="font-size: 15Px">Create your account:</span><br><br>
   First Name: <input type="text" ng-model="firstName" placeholder="First Name"><br><br>
   Last Name: <input type="text" ng-model="lastName" placeholder="Last Name"><br><br> 
   Email: <input type="text" ng-model="lastName" placeholder="Email"><br><br> 
   Password: <input type="text" ng-model="lastName" placeholder="Password"><br><br> 
   Confirm Password: <input type="text" ng-model="lastName" placeholder="Confirm Password"><br><br> 
    <button style="background-color: skyblue; color: white;">Register</button>   
    <br><br>
</div>